 .home{
     /* height: 600px;  */
     /* border: 2px solid rgb(192, 9, 9);   */
    display: flex;
    flex-direction: row;
    /* padding: 0px;    */
    /* background-color:yellow; */
} 
.centrebox{
    /* text-align: center; */
    width:100%;
   background-color:  rgb(11, 5, 71);  
   border: 2px solid rgb(4, 1, 36);  
   background-color:rgb(244, 244, 225); 
   display: flex;
   flex-direction: column; 
   /* justify-content: center; */
}
.news{
    /* border: 2px solid green; */
    margin-top: 0;
    padding: 0%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    /* width:100px; */
    margin-left:10px;
    margin-right:10px; 
    color: white;
    display: flex;
    justify-content: center;
    /* border: 2px solid white; */
}
 .cardbox{
    width:580px;
    height:340px;
    /* border: 5px double rgb(20, 20, 118); */
    border-radius: 20px;
    background-color:  rgb(17, 17, 19);
    display: flex;
    flex-direction:row;
    
 }
 .card img{
    /* border: 2px solid white; */
    width: 200px;
    height: 200px;
    margin-top: 40px;
    margin-left:20px;
    border-radius: 4px;
    /* border: 5px solid rgb(5, 31, 104);
    border-style: inset; */
}

.title{
     font-size:17px; 
    color: yellow;
}
.card-body a{
    color:yellow;
    font-size: 13px;
    border:2px solid white;
}
.card-body{
    font-size: 14px;
    text-align:left;
    font-family:Arial, Helvetica, sans-serif;
    /* border: 2px solid green; */
    /* padding: 0px; */
}
.ctgy{
    color: yellow;
    font-family: sans-serif
    ;
}
.button{
    font-family:sans-serif;
    border: none;
    background-color: rgb(6, 6, 37); 
    width:110px;
    display: flex;
    flex-direction: column;
    margin: 5px;
}
.head1{
    position: sticky;
    top: 50px;
    color: white;
    width: 150px;
    height:600px ;
    border:2px solid rgb(6, 6, 37);
    background-color: rgb(6, 6, 37);
    /* font-weight:bold; */
}



.heading{
    /* font-family:italic ; */
    font-weight: bold;
}
 .ctgyhead{
     font-size: 30px; 
    font-style: sans-serif;
} 


